{
	"name": "Haldor",
	"description": "This is the Haldor configuration file.",
	"pidfile":"/tmp/haldor.pid",
	"acq_io":[
		{
			"name": "Front Door", 
			"acType": "SW", 
			"acObject": 8
		},
		{
			"name": "Pod Bay Door", 
			"acType": "SW", 
			"acObject": 11
		},
		{
			"name": "Open Switch", 
			"acType": "SW_INV", 
			"acObject": 25
		},
		{
			"name": "Office Motion",
			"acType": "PIR",
			"acObject": 9
		},
		{
			"name": "Shop Motion",
			"acType": "PIR",
			"acObject": 10
		},
		{
			"name": "Temperature",
			"acType": "TEMP",
			"acObject": ["/sys/devices/w1_bus_master1/28-01131a39e5fa/w1_slave"]
		}
	],
	"gpio_path": "/sys/class/gpio",
	"secret_path": "/home/haldor/haldor/.open-sesame",
	"ds18b20_path": "/sys/devices/w1_bus_master1/28-00da18b20000/w1_slave",
	"host": "my_host",
	"use_ssl": false,
	"checkup_interval": 300
}
